body {
    background: black;
}

h1,
h2,
h3 {
    font-family: 'Lobster', cursive;
}

p,
li {
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: black;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

main {
    max-width: 960;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

footer {
    max-width: 960;
    margin-left: auto;
    margin-right: auto;
    background: black;
    color: white;
    text-align: center;
}

#logo {
    display: inline-block;
}

#logo img {
    max-width: 200px;
}

nav {
    display: inline-block;
    margin-top: 50px;
    float: right;
}

nav li {
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
    padding: 10px;
}

nav li a {
    color: white;
}


nav li:hover {
    background: #e06902;
}

#promo img {
    max-width: 560px;
    margin-bottom: -4px;
}

#promotext {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}

#listen {
    display: inline-block;
    margin-left: 20px;
}

#book {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}

.sectionbreak {
    background: black;
    min-height: 20px;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
    padding: 10px;
}

footer li:hover {
    color: yellow;
    cursor: pointer;
}

button {
    background: #e06902;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    border: none;
    color: white;
}

button:hover {
    background: rgb(224, 105, 2, 0.5);
    color: black;
}

#vote {
    text-align: center;
    background: white;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: dashed 4px black;
    padding: 5px 40px;
    margin-bottom: 20px;
}

#favSong {
    color: red;
}